@tailwind base;
@tailwind components;
@tailwind utilities;

/* Luego puedes agregar tu CSS si quieres */
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideLeft {
  animation: slideLeft 0.35s ease-out;
}
.title-heading {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 600;
}
